.idea/
.vscode/
coverage/
vendor/
logs/*
logs/README.md
.phpunit.result.cache
.env
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.serverless/